.navbutton{
    display: flex;
    justify-content: center;
    background-color: #007BFF;
    color: #FFFFFF; 
    padding: 0.5em 1em;
  
}
label{
    padding:05.em;
}

button{
    background-color: #007BFF;
    color: #FFFFFF; 
}



button:hover:not(:disabled) {
    cursor: pointer; 
    background-color: #0056b3;
}

button:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
    color: #FFFFFF;
}