body {
  font-family: 'Arial', sans-serif;
  background-color: #eef2f3;
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  .container {
      width: 90%;
  }

  .navbutton button {
      width: 100%;
      margin: 5px 0;
  }
}